<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <style>

        body {
          font: 10px sans-serif;
        }

        .bar rect {
          shape-rendering: crispEdges;
        }

        .bar text {
          fill: #999999;
        }

        .axis path, .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

    </style>
</head>
<body>

<div id="chart"></div>

<div class="w3-main">
  <div class="w3-row-padding">
    <div class="w3-quarter w3-container w3-margin-bottom" style="height: 300px">
        <img id="dw-image" src="" alt="Downweighted image" style="height: 100%">
    </div>
    <div class="w3-quarter w3-container w3-margin-bottom" style="height: 300px">
        <img id="ps-image" src="" alt="Power Spectrum" style="height: 100%">
    </div>
    <div class="w3-quarter w3-container w3-margin-bottom">
        <svg width="350" height="200" id="histogram_defocus"></svg>
    </div>
    <div class="w3-quarter w3-container">
        <svg width="350" height="200" id="histogram_resolution"></svg>
    </div>
  </div>
</div>


<div class="w3-bottom">
    <table id="data_table" class="display" width="100%"></table>
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="static/js/histogram.js"></script>
<script>
    d3.csv('process_table.csv', function (pt_data) {

        var data_defocus = [];
        var data_resolution = [];
        for (i=0; i<pt_data.length ;i++) {
            data_defocus.push(parseFloat(pt_data[i].Defocus));
            data_resolution.push(parseFloat(pt_data[i].Resolution))
        }
        histogram(data_defocus, 'steelblue', '#histogram_defocus', 'Defocus (\u03BCm)', 3);
        histogram(data_resolution, 'Olive', '#histogram_resolution', 'Resolution (\u212B)', 1);

        var chart = c3.generate({
            data: {
                json: pt_data,
                keys: {
                    x: 'micrograph',
                    value: ['Defocus', 'Phase_shift']
                },
                axes: {
                    Defocus_U: 'y',
                    Defocus_V: 'y',
                    Phase_shift: 'y2'
                }
            },
            axis: {
                x: {
                    type: 'category',
                    extent: [0,50],
                    tick: {
                        fit: false
                    }
                },
                y: {
                    tick: {
                        format: function (d) {return d3.format(",.1f")(d) + " \u03BCm";}
                    },
                    label: {
                        text: 'Defocus',
                        position: 'outer-middle'
                    }
                },
                y2: {
                    tick: {
                        format: function (d) {return d3.format(",.1f")(d) + " \u03c0";}
                    },
                    show: true,
                    label: {
                        text: 'Phase shift',
                        position: 'outer-middle'
                    }
                }
            },
            transition: {
                duration: 0
            },
            // set to false to speed things up
            interaction: {
                enabled: true
            },
            subchart: {
                show: true
            }
        });

        //console.log(micrographs);
        $(document).ready(function() {
            var table = $('#data_table').DataTable( {
                data: pt_data,
                "createdRow": function( row, data, dataIndex ) {
                    if ( parseFloat(Math.abs(data["delta_Defocus"])) >= 0.4 ) {
                        $(row).addClass( 'w3-yellow' );
                    }
                },
                columns: [
                    { data: "micrograph" },
                    { data: "Defocus" },
                    { data: "delta_Defocus" },
                    { data: "Phase_shift" },
                    { data: "Resolution" }
                ],
                columnDefs: [
                    {
                        "targets": 0,
                        "title": "micrograph"
                    },
                    {
                        "targets": 1,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(2);
                                },
                        "title": "Defocus"
                    },
                    {
                        "targets": 2,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(3);
                                },
                        "title": "delta_Defocus"
                    },
                    {
                        "targets": 3,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(1);
                                },
                        "title": "Phase_shift"
                    },
                    {
                        "targets": 4,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(1);
                                },
                        "title": "Resolution"
                    }
                ],
                "rowCallback": function( row, data ) {
                    $(row).attr('id', data["micrograph"]);
                }
            } );
            var last_image = table.row(':last', { order: 'applied' }).data();
            var motioncor_image = last_image["motioncor_aligned_DW"];
            var motioncor_png = motioncor_image.replace(".mrc",".png");
            var gctf_image = last_image['gctf_ctf_fit'];
            var gctf_png = gctf_image.replace(".ctf",".png");
            $("#dw-image").attr("src",'static/' + motioncor_png);
            $("#ps-image").attr("src",'static/' + gctf_png);

            $('#data_table tbody').on( 'click', 'tr', function () {
                var mic_id = $(this).attr("id");
                $("#dw-image").attr("src",`static/motioncor/${mic_id}_DW.png`);
                $("#ps-image").attr("src",`static/gctf/${mic_id}.png`);

                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

            });
        } );
    });
</script>
</html>