<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <style>

        body {
          font: 10px sans-serif;
        }

        .bar rect {
          shape-rendering: crispEdges;
        }

        .bar text {
          fill: #999999;
        }

        .axis path, .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

    </style>
</head>
<body>

<div class="w3-sidebar w3-bar-block" style="width:60%; overflow: hidden;">
    <div id="chart" style="height: 40%; margin-top: 10px"></div>

    <div style="width: 100%; height: 60%; ">
        <table id="data_table" class="display" width="100%"></table>
    </div>
</div>

<div style="margin-left:60%">

    <div style="text-align: center;">
        <h4>Downweighted image</h4>
        <img id="dw-image" src="" alt="Downweighted image" style="width: 60%">
    </div>
    <div style="text-align: center;">
        <h4>Power Spectrum</h4>
        <img id="ps-image" src="" alt="Power Spectrum" style="width: 60%">
    </div>

    <div style="text-align: center;">
        <h4>Defocus Histogram</h4>
        <img src="histogram_defocus.png" alt="Histogram Defocus" style="width: 60%">
    </div>
    <div style="text-align: center;">
        <h4>Resolution Histogram</h4>
        <img src="histogram_resolution.png" alt="Histogram Resolution" style="width: 60%">
    </div>


</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.17/c3.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    d3.csv('process_table.csv', function (pt_data) {

        var chart_data_keys_value = [];
        if(pt_data[0] != null && pt_data[0].hasOwnProperty('Phase_shift')){
            chart_data_keys_value.push('Phase_shift');
        }
        if(pt_data[0] != null && pt_data[0].hasOwnProperty('Defocus')){
            chart_data_keys_value.push('Defocus');
        }

        // here starts the code for time line plot
        var chart = c3.generate({
            data: {
                json: pt_data,
                keys: {
                    x: 'micrograph',
                    value: chart_data_keys_value
                },
                axes: {
                    Defocus: 'y',
                    Phase_shift: 'y2'
                },
                empty: { label: { text: "No Data Available" } }
                //one can make some more interaction with this, e.g. display an image
                //onclick: function(d, i) { console.log(d.index); }
            },
            axis: {
                x: {
                    type: 'category',
                    extent: [0,50],
                    tick: {
                        fit: false
                    }
                },
                y: {
                    tick: {
                        format: function (d) {return d3.format(",.2f")(d) + " \u03BCm";}
                    },
                    label: {
                        text: 'Defocus',
                        position: 'outer-middle'
                    }
                },
                y2: {
                    tick: {
                        format: function (d) {return d3.format(",.2f")(d) + " \u03c0";}
                    },
                    show: true,
                    label: {
                        text: 'Phase shift',
                        position: 'outer-middle'
                    }
                }
            },
            transition: {
                duration: 0
            },
            // set to false to speed things up
            interaction: {
                enabled: true
            },
            subchart: {
                show: true
            }
        });

        // populate data table
        $(document).ready(function() {
            var data_table_selector = $('#data_table');
            var table = data_table_selector.DataTable( {
                scrollY:        '48vh',
                scrollCollapse: true,
                paging:         false,
                data: pt_data,
                "createdRow": function( row, data, dataIndex ) {
                    if ( parseFloat(Math.abs(data["delta_Defocus"])) >= 0.4 ) {
                        $(row).addClass( 'w3-yellow' );
                    }
                },
                columns: [
                    { data: "micrograph" },
                    { data: "Defocus" },
                    { data: "delta_Defocus" },
                    { data: "Phase_shift" },
                    { data: "Resolution" }
                ],
                columnDefs: [
                    {
                        "targets": 0,
                        "title": "micrograph"
                    },
                    {
                        "targets": 1,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(2);
                                },
                        "title": "Defocus"
                    },
                    {
                        "targets": 2,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(3);
                                },
                        "title": "delta_Defocus"
                    },
                    {
                        "targets": 3,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(2);
                                },
                        "title": "Phase_shift"
                    },
                    {
                        "targets": 4,
                        "render": function ( data) {
                                      return parseFloat(data).toFixed(1);
                                },
                        "title": "Resolution"
                    }
                ],
                "rowCallback": function( row, data ) {
                    $(row).attr('id', data["micrograph"]);
                }
            } );

            var last_image = table.row(':last', { order: 'applied' }).data();
            $("#dw-image").attr("src",last_image["motioncor_aligned_DW"]);
            $("#ps-image").attr("src",last_image['gctf_ctf_fit']);

            // add some functionality when table row is clicked
            data_table_selector.find('tbody').on( 'click', 'tr', function () {
                // change images based on selected row
                var micrograph = table.row( this ).data();
                $("#dw-image").attr("src",micrograph["motioncor_aligned_DW"]);
                $("#ps-image").attr("src",micrograph['gctf_ctf_fit']);

                // highlight rows when selected
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }


            });
        } );

    });
</script>
</html>