<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="w3-display-middle">
    <div class="w3-dropdown-hover" style="margin: auto">
    <button class="w3-button">Select a Project to display</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
        {% for project in projects %}
            <a href="/{{ project }}" class="w3-bar-item w3-button">{{ project }}</a>
        {% endfor %}
    </div>
</div>
</div>


</body>
</html>